input, button {
  font-family: inherit;
}

*{
  margin: 0;
  /* padding: 0; */
  /*font-family: 'Darker Grotesque', sans-serif;*/
  font-family: 'Arial', sans-serif;
}

body {
  cursor: default;
}

.wrap {
  min-width: 320px;
}

.wrap-basket {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  min-width: 320px;
}

a {
  text-decoration: none;
}

/*HEADER*/
.header {
  background-color: #000;
  min-height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-logo {
  margin-left: 1.5%;
}

.header-logo__title {
  color: #fff;
  font: normal bold 40px/110% 'Arial', sans-serif;
  letter-spacing: 0.06em;
  cursor: default;
}

.header-logo__title-basket,
.header-logo__title-product {
  color: #fff;
  font: normal bold 40px/110% 'Arial', sans-serif;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.header-menu {
  display: flex;
  min-width: 450px;
  align-items: center;
  justify-content: space-between;
}

.basket {
  display: flex;
  min-width: 450px;
  align-items: center;
  justify-content: space-evenly;
}

.header-menu__link {
  color: #fff;
  font: normal normal 16px/110% 'Arial', sans-serif;
  text-decoration: none;
  padding: 0 0 4px 0;
  border-bottom: 2px solid transparent;
}

.header-menu__link:hover {
  border-bottom: 2px solid #fff;
  transition: all .3s;
  opacity: .8;
}

.header-menu__link:active {
  color: #e0dfb1;
  transition: .2s ease;
}

.header-burger {
  width: 25px;
  height: 17px;
  position: relative;
  display: none;
}

.header-burger__line {
  position: absolute;
  display: block;
  width: 25px;
  height: 3px;
  background: #fff;
  top: 7px;
}

.header-burger::before,
.header-burger::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #fff;
  position: absolute;
  transition: .3s ease;
}

.header-burger::before {
  top: 0;
}

.header-burger::after {
  bottom: 0;
}

.svg {
  fill: white;
}

.svg-social {
  width: 48px;
  height: 48px;
}

.svg:hover {
  transition: all .3s;
  opacity: .8;
}

.svg:active {
  fill: #e0dfb1;
  transition: .2s ease;
}

.active {
  border-bottom: 2px solid #fff;
  padding: 0 0 4px 0;
}

/*SECTION 1*/
.home {
  max-width: 1280px;
  padding: 7% 2%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.home-content {
  margin-top: 11%;
  min-width: 22%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.home-content__title {
  font: normal 500 38px/110% 'Arial', sans-serif;
  margin-bottom: 5%;
}

.home-content__text {
  font: normal normal 32px/130% 'Arial', sans-serif;
  margin-bottom: 12%;
}

.home-content__btn {
  background-color: #000;
  color: #fff;
  font: normal 500 18px/110% 'Arial', sans-serif;
  letter-spacing: 0.06em;
  border: none;
  padding: 15px 45px;
  cursor: pointer;
  outline: none;
  border: 2px solid transparent;
  transition: all .3s;
}

.home-content__btn:hover {
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
}

.home-content__btn:active {
  background-color: #e0e0e0;
  transition: .2s ease;
}

.home-img {
  max-width: 45%;
}

/*SECTION 2*/
.about {
  background: #fafafa;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-us {
  margin: 4% 0 3% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 50%;
}

.content-us__title {
  font: normal 500 38px/110% 'Arial', sans-serif;
  margin-bottom: 3%;
}

.content-us__text {
  font: normal normal 22px/110% 'Arial', sans-serif;
  text-align: center;
}

.content-img {
  display: flex;
  justify-content: space-around;
}

.content-img__coffe,
.content-img__cup {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30%;
}

.content-img__coffe-img,
.content-img__cup-img {
  margin-bottom: 3%;
}

.content-img__coffe-text,
.content-img__cup-text {
  font: normal normal 20px/110% 'Arial', sans-serif;
  text-align: center;
  margin-bottom: 15%;
}

/*SECTION 3*/
.coffe {
  margin: 3% 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.coffe-title {
  font: normal 500 38px/110% 'Arial', sans-serif;
  margin-bottom: 1.5%;
}

.coffe-shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 2% 0; */
  min-width: 500px;
  background: #fafafa;
  min-height: 620px;
}

.coffe-shop:hover {
  box-shadow: 0px 2px 25px 14px rgba(5, 5, 5, 0.2);
  cursor: pointer;
}

.coffe-shop__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 2% 0;
}

.coffe-shop__img {
  max-width: 450px;
  min-width: 400px;
}

.price {
  min-width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4%;
}

.coffe-shop__text {
  font: normal 500 28px/110% 'Arial', sans-serif;
}

.coffe-shop__price {
  font: normal 500 24px/110% 'Arial', sans-serif;
}

.coffe-shop-add {
  min-width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*.coffe-shop__link-bye,
.coffe-shop__link-basket {
  margin: 0 0 2% 0;
  border: 2px solid transparent; 
}*/

.coffe-shop__bye {
  background-color: #000;
  color: #fff;
  font: normal 500 18px/110% 'Arial', sans-serif;
  letter-spacing: 0.06em;
  border: none;
  padding: 15px 45px;
  cursor: pointer;
  outline: none;
  border: 2px solid transparent;
  transition: all .3s;
}

.coffe-shop__bye:hover {
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
}

.coffe-shop__bye:active {
  background-color: #e0e0e0;
  transition: .2s ease;
}

.svg-add {
  fill: white;
  width: 32px;
  height: 32px;
}

.coffe-shop__add-basket {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 6.5px;
  cursor: pointer;
  outline: none;
  border: 2px solid transparent;
  transition: all .3s;
  /*position: absolute;*/
}

.svg-add:hover {
  fill: black;
}

.coffe-shop__add-basket:hover .svg-add {
  fill: black;
}

.coffe-shop__add-basket:hover {
  border: 2px solid #000;
  background-color: #fff;
  transition: .2s ease;
}

.coffe-shop__add-basket:active {
  background-color: #e0e0e0;
  transition: .2s ease;
}

#total {
  display: none;
}

/*#total {
  color: #000;
  background-color: #fff;
  border-radius: 50%;
  border: .5px solid #000;
  width: 25px;
  height: 25px;
  left: 30px;
  bottom: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  text-align: center;
}*/

/*SECTION BASKET*/
.wrapper { 
  min-height: 470px;
  display: flex;
  justify-content: center;
}

.wrapper-basket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 8%;
}

.wrapper-basket__title {
  font: normal 500 38px/110% 'Arial', sans-serif;
  margin-bottom: 7%;
  text-align: center;
}

.wrapper-basket__btn {
  background-color: #000;
  color: #fff;
  font: normal 500 18px/110% 'Arial', sans-serif;
  letter-spacing: 0.06em;
  border: none;
  padding: 15px 45px;
  cursor: pointer;
  outline: none;
  border: 2px solid transparent;
  transition: all .3s;
}

.wrapper-basket__btn:hover {
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
}

.wrapper-basket__btn:active {
  background-color: #e0e0e0;
  transition: .2s ease;
}

/*SECTION PRODUCT*/
.product-product {
  display: flex;
  flex-direction: column;
  margin: 6% 0;
}

.product-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.2%;
}

.product-img__img {
  max-width: 40%;
  margin-bottom: 1%;
}

.product-img__slider {
  display: flex;
  max-width: 40%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.product-img__slider-img {
  max-width: 15%;
}

.product-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  margin: auto;
}

.product-text__title {
  font: normal bold 40px/110% 'Arial', sans-serif;
  margin-bottom: 2%;
}

.product-text__price {
  font: normal 500 24px/110% 'Arial', sans-serif;
  margin-bottom: 2%;
}

.product-text__btn {
  background-color: #000;
  color: #fff;
  font: normal 500 18px/110% 'Arial', sans-serif;
  letter-spacing: 0.06em;
  border: none;
  padding: 15px 45px;
  cursor: pointer;
  outline: none;
  border: 2px solid transparent;
  transition: all .3s;
  margin-bottom: 3%;
}

.product-text__btn:hover {
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
}

.product-text__btn:active {
  background-color: #e0e0e0;
  transition: .2s ease;
}

.product-info {
  min-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-info__text {
  font: normal 500 26px/110% 'Arial', sans-serif;
  margin-bottom: 3%;
  text-align: center;
}

.product-info__list {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  align-items: center;
}

.product-info__list-set {
  font: normal bold 22px/110% 'Arial', sans-serif;
  margin-bottom: 2.5%;
  text-align: center;
}

ul {
  margin-bottom: 3%;
}

.product-info__list-list {
  font: normal normal 20px/110% 'Arial', sans-serif;
  margin-bottom: 1.5%;
}

.product-info__list-ps {
  font: normal bold 20px/110% 'Arial', sans-serif;
  text-align: center;
}

/*FOOTER*/
.footer {
  background: #000;
}

.contacts {
  margin: auto;
  max-width: 1300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contacts-footer {
  display: flex;
  justify-content: space-around;
  min-width: 90%;
  flex-wrap: wrap;
  margin: 1.5%;
}

.contacts-us,
.follow-us {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 2%;
}

.contacts-us {
  margin: 0 8% 0 0;
}

.follow-us {
  margin: 0 8%;
}

.contacts-us__title, 
.follow-us__title {
  font: normal bold 35px/110% 'ArialArial', sans-serif;
  color: #fff;
  margin-bottom: 5%;
}

.active-link:hover {
  transition: all .3s;
  opacity: .8;
}

.active-link:active {
  color: #e0dfb1;
  transition: .2s ease;
}

/*.contacts-footer__where {
  display: flex;
  min-width: 400px;
  justify-content: space-between;
}*/

.contacts-footer__social {
  display: flex;
  justify-content: space-between;
}

.contacts-wrap,
.follow-wrap {
  display: flex;
  align-items: center;
}

.contacts-wrap {
  margin-left: 12%;
}

.contacts-wrap__mail {
  margin: 0 0 2% 4%;
  min-width: 90%;
}

.follow-wrap__instagram {
  margin: 0 0 4% 6%;
  min-width: 90%;
}

.contacts-wrap__mail-email,
.follow-wrap__instagram-inst {
  color: #fff;
  font: normal 500 25px/110% 'Arial', sans-serif;
  margin-bottom: 3%;
}

.contacts-wrap__mail-gmail,
.follow-wrap__instagram-account {
  color: #fff;
  font: normal normal 20px/110% 'Arial', sans-serif;
}

@media(max-width: 768px) {

  .header {
    justify-content: space-between;
  }

  .header-logo {
    margin-left: 4%;
  }

  .nav-menu {
    margin-right: 4%;
  }

  .header-logo__title,
  .header-logo__title-basket,
  .header-logo__title-product {
    font-size: 36px;
  }

  .header-menu {
    display: none;
    opacity: 0;
    min-width: 0;
  }

  .basket {
    display: none;
    opacity: 0;
    min-width: 0;
  }

  .header-burger {
    display: block;
    z-index: 5;
  }

  .header-burger.toggle > .header-burger__line {
    display: none;
  }

  .toggle.header-burger::before {
    transform: rotate(45deg);
    top: 7px;
  }

  .toggle.header-burger::after {
    transform: rotate(-45deg);
    bottom: 7px;
  }

  .header-burger:hover {
    cursor: pointer;
  }
  
  .header::after {
    content: '';
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    background: #000;
    z-index: 1;
    top: -100vh;
    transition: .3s ease;
  }

  .toggle.header::after {
     top: 0;
  }

  .header-menu.toggle {
    z-index: 20;
    flex-direction: column;
    display: flex;
    position: absolute;
    width: 100vw;
    height: 80vh;
    align-items: center;
    justify-content: space-around;
    top: 10vh;
    left: 0;
    opacity: 1;
    animation: opacity 1s;
  }

  .basket.toggle {
    z-index: 20;
    flex-direction: column;
    display: flex;
    position: absolute;
    width: 100vw;
    height: 80vh;
    align-items: center;
    justify-content: space-around;
    top: 10vh;
    left: 0;
    opacity: 1;
    animation: opacity 1s;
  }

  .svg-social {
    width: 38px;
    height: 38px;
  }

  .product-img__img,
  .product-img__slider {
    max-width: 80%;
  }

  .product-text__title {
    font-size: 36px;
  }

  .product-text__btn {
    padding: 12px 35px;
  }

  .home {
    flex-direction: column;
    align-items: center;
  }

  .home-content {
    align-items: center;
    margin: 2% 0 7% 0;
    min-width: 12%;
  }

  .home-content__title {
    font-size: 32px;
  }

  .home-content__text {
    font-size: 28px;
  }

  .home-content__btn {
    padding: 12px 35px;
  }

  .home-img {
    max-width: 65%;
  }

  .content-img {
    flex-direction: column;
    align-items: center;
  }

  .content-us {
    max-width: 80%;
  }

  .content-us__title {
    font-size: 34px;
  }

  .content-img__coffe,
  .content-img__cup {
    max-width: 40%;
  }

  .coffe-title {
    margin-bottom: 3%;
    font-size: 32px;
  }

  .coffe-shop {
    min-width: 310px;
    min-height: 450px;
  }

  .coffe-shop__img {
    max-width: 280px;
    min-width: 250px;
  }

  .coffe-shop__price {
    font-size: 20px;
  }

  .coffe-shop__bye {
    padding: 12px 35px;
  }

  .svg-add {
    fill: white;
    width: 28px;
    height: 28px;
  }

  .coffe-shop__add-basket {
    padding: 4.5px;
  }

  .wrapper-basket__title {
    font-size: 36px;
    margin-bottom: 6%;
  }

  .wrapper-basket__btn {
    padding: 12px 35px;
  }

  .contacts-us__title,
  .follow-us__title {
    font-size: 30px;
  }

  .contacts-footer__social {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contacts-wrap {
    margin-left: 16%;
  }

  .contacts-wrap__mail-email,
  .follow-wrap__instagram-inst {
    font-size: 20px;
  }

  .contacts-wrap__mail-gmail,
  .follow-wrap__instagram-account{
    font-size: 16px;
  }
}

@media (max-width: 510px) {
  .header-logo__title,
  .header-logo__title-basket,
  .header-logo__title-product {
    font-size: 32px;
  }

  .follow-us {
    margin-right: 18%;
  }
}



@media (max-width: 320px) {
  .header-logo__title,
  .header-logo__title-basket,
  .header-logo__title-product {
    font-size: 28px;
  }

  .home-content {
    margin: 2% 0 15% 0;
  }

  .home-content__title {
    font-size: 24px;
  }

  .home-content__text {
    font-size: 18px;
  }

  .home-content__btn {
    padding: 10px 25px;
  }

  .content-us {
    max-width: 85%;
    margin: 5% 0 7% 0;
  }

  .content-us__title {
    font-size: 28px;
  }

  .content-us__text {
    font-size: 18px;
  }

  .content-img__coffe, .content-img__cup {
    max-width: 70%;
  }

  .content-img__coffe-text,
  .content-img__cup-text {
    font-size: 18px;
  }

  .coffe-title {
    margin-bottom: 5%;
    font-size: 28px;
  }

  .coffe-shop {
    min-width: 220px;
    min-height: 320px;
  }

  .coffe-shop__img {
    max-width: 200px;
    min-width: 180px;
  }

  .coffe-shop__link {
    margin: 0 0 3% 0;
  }

  .coffe-shop__text {
    font-size: 22px;
  }

  .coffe-shop__price {
    font-size: 18px;
  }

  .coffe-shop__bye {
    padding: 10px 20px;
    font-size: 15px;
    letter-spacing: 0.01em;
  }

  .svg-add {
    width: 25px;
    height: 25px;
  }

  .coffe-shop__add-basket {
    padding: 2.8px;
  }

  .wrapper-basket__title {
    font-size: 32px;
  }

  .wrapper-basket__btn {
    padding: 10px 20px;
  }

  .product-img__img,
  .product-img__slider {
    max-width: 50%;
  }

  .product-text__title {
    font-size: 28px;
    margin-bottom: 4%;
  }

  .product-text__price {
    font-size: 20px;
    margin-bottom: 4%;
  }

  .product-text__btn {
    padding: 10px 25px;
    margin-bottom: 4%;
  }

  .product-info__text {
    font-size: 22px;
    margin-bottom: 3%;
  }

  .product-info__list-set {
    font-size: 17px;
    margin-bottom: 3%;
  }

  .product-info__list-list {
    font-size: 16px;
    margin-bottom: 1.8%;
  }

  ul {
    margin-bottom: 3%;
  }

  .product-info__list-ps {
    font-size: 17px;
  }

  .contacts {
    flex-direction: column;
    align-items: center;
  }

  /*.contacts-us {
    margin-left: 6.5%;
  }*/
  
}