input, button {
  font-family: inherit;
}

*{
  margin: 0;
  /* padding: 0; */
  font-family: 'Darker Grotesque', sans-serif;
}

body {
  cursor: default;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  min-width: 320px;
}

a {
  text-decoration: none;
}

.header {
  background-color: #000;
  min-height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 7%;
}

.header-logo {
  margin-left: 1.5%;
}

.header-logo__title {
  color: #fff;
  font: normal bold 40px/110% 'Darker Grotesque', sans-serif;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.header-menu {
  display: flex;
  min-width: 450px;
  align-items: center;
  justify-content: space-between;
}

.header-menu__link {
  color: #fff;
  font: normal normal 16px/110% 'Darker Grotesque', sans-serif;
  text-decoration: none;
  padding: 0 0 4px 0;
  border-bottom: 2px solid transparent;
}

.header-menu__link:hover {
  border-bottom: 2px solid #fff;
  transition: all .3s;
  opacity: .8;
}

svg {
  fill: white;
}

.active {
  border-bottom: 2px solid #fff;
  padding: 0 0 4px 0;
}

.product-img__img {
  max-width: 30%;
}

.product-img__slider-img {
  max-width: 4.75%;
}

.product-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-text__title {
  font: normal bold 40px/110% 'Darker Grotesque', sans-serif;
  margin-bottom: 1.5%;
}

.product-text__price {
  font: normal 500 24px/110% 'Darker Grotesque', sans-serif;
  margin-bottom: 2%;
}

.product-text__btn {
  background-color: #000;
  color: #fff;
  font: normal bold 18px/110% 'Darker Grotesque', sans-serif;
  letter-spacing: 0.06em;
  border: none;
  padding: 15px 45px;
  cursor: pointer;
  outline: none;
  border: 2px solid transparent;
  transition: all .3s;
  margin-bottom: 3%;
}

.product-text__btn:hover {
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
}

.product-info {
  min-width: 30%;
}

.product-info__text {
  font: normal 500 26px/110% 'Darker Grotesque', sans-serif;
  margin-bottom: 1.5%;
}

.product-info__list-set {
  font: normal 500 22px/110% 'Darker Grotesque', sans-serif;
  margin-bottom: 1%;
}

.product-info__list-list {
  font: normal normal 20px/110% 'Darker Grotesque', sans-serif;
  margin-bottom: .7%;
}

.product-info__list-ps {
  font: normal 500 23px/110% 'Darker Grotesque', sans-serif;
}

.footer {
  background: #000;
}

.contacts {
  margin: auto;
  max-width: 1300px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.contacts-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 90%;
  flex-wrap: wrap;
  margin: 1.5%;
}

.contacts-us,
.follow-us {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 2%;
  /* justify-content: center; */
  /* margin-top: 1.5%;*/
  /* min-width: 45%; */
}

.contacts-us__title, 
.follow-us__title {
  font: normal 500 35px/110% 'Darker Grotesque', sans-serif;
  color: #fff;
  margin-bottom: 5%;
}

.contacts-footer__where {
  display: flex;
  min-width: 400px;
  justify-content: space-between;
}

.contacts-footer__social {
  display: flex;
  min-width: 400px;
  justify-content: space-between;
}

.face {
  margin-right: 6.5%;
}

.contacts-wrap,
.follow-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}

.contacts-wrap__where,
.contacts-wrap__tel,
.follow-wrap__instagram,
.follow-wrap__facebook {
  margin: 0 0 4% 6%;
  min-width: 90%;
}

.contacts-wrap__where-address,
.contacts-wrap__tel-call,
.follow-wrap__instagram-inst,
.follow-wrap__facebook-face {
  color: #fff;
  font: normal bold 25px/110% 'Darker Grotesque', sans-serif;
  margin-bottom: 3%;
}

.contacts-wrap__where-city,
.contacts-wrap__tel-number,
.follow-wrap__instagram-account,
.follow-wrap__facebook-account {
  color: #fff;
  font: normal normal 20px/110% 'Darker Grotesque', sans-serif;
}

@media(max-width: 768px) {

  .header {
    justify-content: flex-start;
  }

  .header-logo {
    margin-left: 4%;
  }

  .header-logo__title {
    font-size: 36px;
  }

  .header-menu {
    display: none;
  }

  .contacts-footer__where {
    min-width: 320px;
    /* justify-content: space-around; */
    flex-wrap: wrap;
  }

  .contacts-footer__social {
    flex-wrap: wrap;
    min-width: 320px;
    justify-content: space-between;
  }

  .contacts-wrap__where-address,
  .contacts-wrap__tel-call,
  .follow-wrap__instagram-inst,
  .follow-wrap__facebook-face {
    font-size: 20px;
  }

  .contacts-wrap__where-city,
  .contacts-wrap__tel-number,
  .follow-wrap__instagram-account,
  .follow-wrap__facebook-account {
    font-size: 16px;
  }

  .contacts-us__geo,
  .contacts-us__phone,
  .follow-us__inst,
  .follow-us__facebook {
  width: 25px;
  } 
}

@media (max-width: 380px) {
  .contacts-footer__where,
  .contacts-footer__social {
    flex-direction: column;
    align-items: center;
  }

  .face {
    margin-right: 0;
  }
}

@media (max-width: 320px) {
  .header-logo__title {
    font-size: 28px;
  }

  .contacts {
    flex-direction: column;
    align-items: center;
  }

  /*.contacts-us {
    margin-left: 6.5%;
  }*/
  
}