input, button {
  font-family: inherit;
}

*{
  margin: 0;
 /* padding: 0;*/
  font-family: 'Darker Grotesque', sans-serif;
}

body {
  cursor: default;
}

a {
  text-decoration: none;

}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  min-width: 320px;
}

.header {
  background-color: #000;
  min-height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 7%;
}

.header-logo {
  margin-left: 1.5%;
}

.header-logo__title {
  color: #fff;
  font: normal bold 40px/110% 'Darker Grotesque', sans-serif;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.header-menu {
  display: flex;
  min-width: 450px;
  align-items: center;
  justify-content: space-evenly;
}

.header-menu__link {
  color: #fff;
  font: normal normal 16px/110% 'Darker Grotesque', sans-serif;
  text-decoration: none;
  padding: 0 0 4px 0;
  border-bottom: 2px solid transparent;
}

.header-menu__link:hover {
  border-bottom: 2px solid #fff;
  transition: all .3s;
  opacity: .8;
}

.header-menu__link:active {
  color: #e0dfb1;
  transition: .2s ease;
}

.header-burger {
  width: 25px;
  height: 17px;
  position: relative;
  display: none;
}

.header-burger__line {
  position: absolute;
  display: block;
  width: 25px;
  height: 3px;
  background: #fff;
  top: 7px;
}

.header-burger::before,
.header-burger::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #fff;
  position: absolute;
  transition: .3s ease;
}

.header-burger::before {
  top: 0;
}

.header-burger::after {
  bottom: 0;
}

svg {
  fill: white;
}

.svg-social {
  width: 48px;
  height: 48px;
}

svg:hover {
  transition: all .3s;
  opacity: .8;
}

svg:active {
  fill: #e0dfb1;
  transition: .2s ease;
}

.active {
  border-bottom: 2px solid #fff;
  padding: 0 0 4px 0;
}

.wrapper { 
  min-height: 470px;
  display: flex;
  justify-content: center;
}

.wrapper-basket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8%;
}

.wrapper-basket__title {
  font: normal 500 38px/110% 'Darker Grotesque', sans-serif;
  margin-bottom: 3%;
}

.wrapper-basket__btn {
  background-color: #000;
  color: #fff;
  font: normal bold 18px/110% 'Darker Grotesque', sans-serif;
  letter-spacing: 0.06em;
  border: none;
  padding: 15px 45px;
  cursor: pointer;
  outline: none;
  border: 2px solid transparent;
  transition: all .3s;
}

.wrapper-basket__btn:hover {
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
}

.wrapper-basket__btn:active {
  background-color: #e0e0e0;
  transition: .2s ease;
}

.footer {
  background: #000;
}

.contacts {
  margin: auto;
  max-width: 1300px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.contacts-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 90%;
  flex-wrap: wrap;
  margin: 1.5%;
}

.contacts-us,
.follow-us {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 2%;
}

.contacts-us__title, 
.follow-us__title {
  font: normal 500 35px/110% 'Darker Grotesque', sans-serif;
  color: #fff;
  margin-bottom: 5%;
}

.contacts-footer__where {
  display: flex;
  min-width: 400px;
  justify-content: space-between;
}

.contacts-footer__social {
  display: flex;
  min-width: 400px;
  justify-content: space-between;
}

.face {
  margin-right: 5%;
}

.contacts-wrap,
.follow-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}

.contacts-wrap__where,
.contacts-wrap__tel,
.follow-wrap__instagram,
.follow-wrap__facebook {
  margin: 0 0 4% 6%;
  min-width: 90%;
}

.contacts-wrap__where-address,
.contacts-wrap__tel-call,
.follow-wrap__instagram-inst,
.follow-wrap__facebook-face {
  color: #fff;
  font: normal bold 25px/110% 'Darker Grotesque', sans-serif;
  margin-bottom: 3%;
}

.contacts-wrap__where-city,
.contacts-wrap__tel-number,
.follow-wrap__instagram-account,
.follow-wrap__facebook-account {
  color: #fff;
  font: normal normal 20px/110% 'Darker Grotesque', sans-serif;
}

@media(max-width: 768px) {
  .header {
    justify-content: space-between;
  }

  .header-logo {
    margin-left: 4%;
  }

  .nav-menu {
    margin-right: 4%;
  }

  .header-logo__title {
    font-size: 36px;
  }

  .header-menu {
    display: none;
    opacity: 0;
    min-width: 0;
  }

  .header-burger {
    display: block;
    z-index: 5;
  }

  .header-burger.toggle > .header-burger__line {
    display: none;
  }

  .toggle.header-burger::before {
    transform: rotate(45deg);
    top: 7px;
  }

  .toggle.header-burger::after {
    transform: rotate(-45deg);
    bottom: 7px;
  }

  .header-burger:hover {
    cursor: pointer;
  }
  
  .header::after {
     content: '';
     height: 100vh;
     width: 100%;
     position: absolute;
     left: 0;
     background: #000;
     z-index: 1;
     top: -100vh;
     transition: .3s ease;
  }

  .toggle.header::after {
     top: 0;
  }

  .header-menu.toggle {
    z-index: 20;
    flex-direction: column;
    display: flex;
    position: absolute;
    width: 100vw;
    height: 80vh;
    align-items: center;
    justify-content: space-around;
    top: 10vh;
    left: 0;
    opacity: 1;
    animation: opacity 1s;
  }

  .svg-social {
    width: 38px;
    height: 38px;
  }

  .wrapper-basket__title {
    font-size: 36px;
    margin-bottom: 6%;
  }

  .wrapper-basket__btn {
    padding: 12px 35px;
  }

  .contacts-footer__where {
    min-width: 320px;
    flex-wrap: wrap;
  }

  .contacts-footer__social {
    flex-wrap: wrap;
    min-width: 320px;
    justify-content: space-between;
  }

  .contacts-wrap__where-address,
  .contacts-wrap__tel-call,
  .follow-wrap__instagram-inst,
  .follow-wrap__facebook-face {
    font-size: 20px;
  }

  .contacts-wrap__where-city,
  .contacts-wrap__tel-number,
  .follow-wrap__instagram-account,
  .follow-wrap__facebook-account {
    font-size: 16px;
  }

  .contacts-us__geo,
  .contacts-us__phone,
  .follow-us__inst,
  .follow-us__facebook {
    width: 25px;
  }
}

@media (max-width: 380px) {
  .contacts-footer__where,
  .contacts-footer__social {
    flex-direction: column;
    align-items: center;
  }

  .face {
    margin-right: 0;
  }
}

@media (max-width: 320px) {
  .header-logo__title {
    font-size: 28px;
  }

  .wrapper-basket__title {
    font-size: 28px;
    margin-bottom: 12%;
  }

  .contacts {
    flex-direction: column;
    align-items: center;
  }

  /*.contacts-us {
    margin-left: 6.5%;
  }*/
}